.card__image-wrapper {
  cursor: pointer;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin-bottom: 12px;
  position: relative;
}
.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}
.card__like-btn:hover {
  opacity: 100%;
}
.card__like-btn_liked {
  background-image: url(../images/like-image-liked.svg);
  opacity: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent; /* Ensures no white background */
  border: none;
}
.card__like-btn_liked:hover {
  background-image: url(../images/like-image-liked-hover.svg);
  opacity: 40%;
}
.card__image-wrapper {
  position: relative;
  /*display: inline-block;*/
}
.card__delete-btn {
  background-image: url(../images/delete-default.png);
  background-color: transparent;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  left: 371px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.png);
}
@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 16px;
    max-width: 250px;
  }
  .card__delete-btn {
    left: 246px;
  }
}
